<div id="<%= dom_id card %>">
  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>
  <p>
    <strong>Card type:</strong>
    <%= card.card_type %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= card.desc %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= card.group %>
  </p>

</div>
