<p style="color: green"><%= notice %></p>
<% if @players.present? %>
  <% random_player = @players.sample %>
  <% other_random_player = @players.reject { |player| player == random_player }.sample %>
<% else %>
  <% random_player = 'playerone' %>
  <% other_random_player = 'playertwo'%>
<% end %>

<div id="card-container" class="card-container fade-in">
  <div>
    <h1><span id="card-title"><%= @random_card.title %></span></h1><br>
    <h2><span id="card-desc"><%= @random_card.desc.gsub("{p}", random_player).gsub("{op}", other_random_player).gsub("{x}", @penalities)%></span></h2><br>
    <strong>Card Type:</strong> <span id="card-type"><%= @random_card.card_type %></span><br>
    <%
=begin%>
 <strong>Group:</strong> <span id="card-group"><%= @random_card.group %></span><br> 
<%
=end%>
  </div>
</div>


<%= form_tag(cards_path, method: :get) do %>
  <% if @players.present? %>
    <% @players.each do |player| %>
      <%= hidden_field_tag 'players[]', player %>
    <% end %>
  <% end %>
  <%= submit_tag "Next", class: "btn btn-primary start-button" %>
<% end %>
<a href="/" class="admin-access">Retour à l'accueil</a>
  
  
<%
=begin%>
  <%= link_to "New card", new_card_path %>
    <%= render "import" %>
<%
=end%>

